.title {
  color: black;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

.gameboard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.mark {
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.result {
  color: black;
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

.playerX {
  color: #09C372;
}

.playerO {
  color: #498AFB;
}